@model BookHive.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LayoutWithoutSidebar.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm())
{

    <div class="row"> 
        <div class="editor-label">
        
            Username
        </div>
        <div class="editor-field">
            @*<a href="~/Views/Account/Login.cshtml">~/Views/Account/Login.cshtml</a>*@
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(Model => Model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="editor-label">
            @Html.LabelFor(Model => Model.RememberMe) @Html.CheckBoxFor(model => model.RememberMe)
        </div>
        <div>
            <button type="Submit" value="Log In" class="btn btn-primary">Log In</button>
            OR <a href="/Account/Register/">
                <button type="button" class="btn btn-primary">Register</button></a>
        </div>
    </div>
}


           